.a {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
}
.a-info {
	@extend .a;
	background-color: $blue-light;
	border: 1px solid $blue-light-border;
}
.a-warn {
	@extend .a;
	background-color: $yellow-light;
	border: 1px solid $yellow;
}
.a-erro {
	@extend .a;
	background-color: $red-light;
	border: 1px solid $red;
}
.a-succ {
	@extend .a;
	background-color: $green-light;
	border: 1px solid $green;
}