.c-outer {
	width: 100%;
	border: 1px solid $grey;
	min-height: 200px;
	float: left;
	margin: 10px 0 20px 0;
	position: relative;
	@include soft-shadow(5px);
	div.c-title {
		background-color: $grey-light;
		border-bottom: 1px solid $grey;
		margin: 0;
		padding: 10px;
		p {
			margin: 0;
			padding: 10px;
		}
		&.rounded {
			border-radius: 0 0 5px 5px;
			padding: 5px;
		}
		&.lite {
			background-color: #fff;
			padding: 2px 5px;
		}
		&.submit {
			background-color: $green;
			text-align: center;
			p {
				font-family: 'open_sansbold';
			}
			color: white;
		}
	}
	&.a-info {
		border: 1px solid $blue-light-border;
		margin: 10px 0 20px 0;
		padding: 0;
		div.c-title {
			background-color: $blue-light;
			margin: 0;
			padding: 10px;
		}
	}
	&.a-warn {
		border: 1px solid $yellow;
		margin: 10px 0 20px 0;
		padding: 0;
		div.c-title {
			background-color: $yellow-light;
			margin: 0;
			padding: 10px;
		}
	}
	&.a-erro {
		border: 1px solid $red;
		margin: 10px 0 20px 0;
		padding: 0;
		div.c-title {
			background-color: $red-light;
			margin: 0;
			padding: 10px;
		}
	}
	&.a-succ {
		border: 1px solid $green;
		margin: 10px 0 20px 0;
		padding: 0;
		div.c-title {
			background-color: $green-light;
			margin: 0;
			padding: 10px;
		}
	}
	div.c-inner {
		padding: 10px;
		background-color: white;
		&.nopad {
			padding: 0;
			img {
				width: 100%;
				height: auto;
			}
		}
		&.question {
			font-size: 150%;
			line-height: 150%;
			padding: 15% 10%;
			color:white;
			font-weight: bold;
			background-color: coral;
			span.type {
				font-size: 55%;
				display: block;
				line-height: 160%;
				font-family: 'open_sanslight';
				color: rgba(255, 255, 255, 0.7);
			}
		}
	}
	&.compact {
		min-height: 1px;
	}
	&.rounded {
		border-radius: 0 0 5px 5px;
		margin: 10px 0;
	}
	div.c-overlay {
		@include transparency-bg(95);
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 9999;
		padding: 20% 10%;
		h4 {
			margin: 0;
			color: white;
		}
		span.icon {
			font-size: 200%;
			color: white;
			margin: 8px 0;
			display: block;
		}
	}
}