$blue: #3677B5;
$blue-light: #EEF9FF;
$blue-light-border: #9FD0EC;
$grey: #D3D6DB;
$grey-light: #EAEAEC;
$grey-lighter: tint($grey-light, 70%);
$yellow: #f0ad4e;
$yellow-light: #FFFFCC;
$red: #d9534f;
$red-light: #FFD6E0;
$green: #5cb85c;
$green-light: #E3FFD1;