$blue: #3677B5;
$blue-light: #EEF9FF;
$blue-light-border: #6AA4C5;
$blue-dark: #0657A3;
$grey-dark: #333;
$grey: #D3D6DB;
$grey-light: #EAEAEC;
$grey-lighter: #F3F3F3;
$yellow: #f0ad4e;
$yellow-light: #FFFFCC;
$yellow-border: #FA7B00;
$red: #d9534f;
$red-light: #FFD6E0;
$red-border: #D9534F;
$green: #5cb85c;
$green-light: #E3FFD1;
$green-border: #579B57;
$purple: #9B27CB;
$pink: #FF96F6;
$black: #000;